.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  text-shadow: 4px 4px 4px grey;
  padding: 10px;
}

.labels {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.invisible-box {
  width: 70%;
  height: 200%;
  background: white;
  animation-duration: 150s;
  animation-name: invisible-box;
  position: absolute;
  top: 30vh;
  z-index: -1;
}

@keyframes invisible-box {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}