.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /* font-family: ''; */

}

.labels {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.invisible-box {
  width: 70%;
  height: 100%;
  background: white;
  animation-duration: 100s;
  animation-name: invisible-box;
  position: absolute;
  top: 30vh;
  z-index: -1;
  /* animation-delay: 5s; */
  /* transition: 4s ease; */
}

@keyframes invisible-box {
  0% {
    transform: scaleY(1);
    /* background-color: red;
    left: 0px;
    top: 0px; */
  }

  /* 25% {
    transform: scaleY(0.75);
  }

  50% {
    transform: scaleY(0.5);
  }

  75% {
    transform: scaleY(0.25);
  } */

  100% {
    transform: scaleY(0);
  }
}