.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  text-shadow: 4px 4px 4px grey;
  padding: 10px;
}

.labels {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.invisible-box {
  width: 70%;
  height: 200%;
  background: white;
  position: absolute;
  top: 58vh;
  z-index: -1;
  transform: translateY(40%);
  transition: transform 60s ease-in;
}

@media screen and (max-width: 700px) {
  .input-container {
    display: flex;
    flex-direction: column;
  }

  .labels {
    flex-direction: column;
  }

  .artist-label {
    position: absolute;
    margin-top: 17vh;
    /* top: 10vh; */
  }

  .invisible-box {
    width: 80%;
    height: 400%;
    top: 105vh;
    transition: transform 40s ease-in;
  }
}